@import "post_attachement"
@import "post_comments"
@import "post_foot"
@import "post_comment_form"

#posts_list
  li.post
    overflow: hidden
    border-bottom: 1px solid #aaa
    margin-bottom: 14px
    .avatar
      +column(2)
    .content
      +column(10,true)
      .name
        color: #F2421B
        font-weight: bold
        text-decoration: none
      .body
        margin: 0
