@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\000034}}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\000036}}
html {
  font-size: 100.01%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\0000316}}
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\0000318}}
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\0000345}}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\0000320}}
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\0000322}}
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/reset\/_utilities\.scss}line{font-family:\0000324}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_reset\.sass}line{font-family:\000035}}
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
  background: #e7e7e7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000365}}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000366}}
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000367}}
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000368}}
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000369}}
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000370}}
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000371}}
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000372}}
body h6 {
  font-size: 1em;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000373}}
body p {
  margin: 0 0 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000374}}
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000375}}
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000377}}
body a {
  text-decoration: underline;
  color: #000099;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/links\/_link-colors\.scss}line{font-family:\0000318}}
body a:visited {
  color: #000066;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/links\/_link-colors\.scss}line{font-family:\0000321}}
body a:focus {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/links\/_link-colors\.scss}line{font-family:\0000324}}
body a:hover {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/links\/_link-colors\.scss}line{font-family:\0000327}}
body a:active {
  color: #cc0099;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000378}}
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000379}}
body strong {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000380}}
body em {
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000381}}
body dfn {
  font-style: italic;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000382}}
body sup, body sub {
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000383}}
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000384}}
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000385}}
body del {
  color: #666666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000386}}
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000387}}
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000388}}
body li ul, body li ol {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000389}}
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000390}}
body ul {
  list-style-type: disc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000391}}
body ol {
  list-style-type: decimal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000392}}
body dl {
  margin: 0 0 1.5em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000393}}
body dl dt {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000394}}
body dd {
  margin-left: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000395}}
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000396}}
body th {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000397}}
body thead th {
  background: #c3d9ff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000398}}
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\0000399}}
body tr.even td {
  background: #e5ecf9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\00003100}}
body tfoot {
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\00003101}}
body caption {
  background: #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\00003102}}
body .quiet {
  color: #666666;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_typography\.scss}line{font-family:\00003103}}
body .loud {
  color: #111111;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_reset\.sass}line{font-family:\000039}}
body * {
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_reset\.sass}line{font-family:\0000312}}
body a {
  text-decoration: none;
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_reset\.sass}line{font-family:\0000315}}
body a:hover {
  text-decoration: underline;
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_reset\.sass}line{font-family:\0000318}}
body a:visited {
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_reset\.sass}line{font-family:\0000321}}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_messages\.sass}line{font-family:\000033}}
#notice, #alert {
  color: #444444;
  line-height: 24px;
  margin: 0 80px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_messages\.sass}line{font-family:\000038}}
#notice {
  background: yellow;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_messages\.sass}line{font-family:\0000310}}
#alert {
  background: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_messages\.sass}line{font-family:\0000313}}
#ajax-indicator {
  left: 10px;
  position: fixed;
  top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_messages\.sass}line{font-family:\0000318}}
#logger {
  border: 1px dashed #444444;
  border-right: 0;
  right: 10px;
  position: fixed;
  top: 10px;
  background: white;
  height: 500px;
  list-style: none outside none;
  overflow-y: scroll;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_messages\.sass}line{font-family:\0000329}}
#logger .info {
  background: #fbff6f;
  margin-bottom: 4px;
  padding: 3px 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_messages\.sass}line{font-family:\0000333}}
#logger .event {
  background: #d1f0f5;
  margin-bottom: 4px;
  padding: 3px 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_header\.sass}line{font-family:\000033}}
#header {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  background: #e33326;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_header\.sass}line{font-family:\000036}}
#header .top {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_header\.sass}line{font-family:\000039}}
#header .top .logo {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003138}}
* html #header .top .logo {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_header\.sass}line{font-family:\0000312}}
#header .top #user-nav {
  display: inline;
  float: left;
  margin-right: 0;
  width: 390px;
  padding-right: 40px;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003138}}
* html #header .top #user-nav {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_header\.sass}line{font-family:\0000316}}
#header .top #user-nav a, #header .top #user-nav span {
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_header\.sass}line{font-family:\0000321}}
#header .bottom {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  border-bottom: 10px solid #e38a62;
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_header\.sass}line{font-family:\0000325}}
#header .bottom ul#main-nav {
  padding-left: 40px;
  padding-right: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_header\.sass}line{font-family:\0000328}}
#header .bottom ul#main-nav li {
  text-align: center;
  height: 36px;
  line-height: 36px;
  float: left;
  margin-right: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_header\.sass}line{font-family:\0000334}}
#header .bottom ul#main-nav li.last {
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_header\.sass}line{font-family:\0000336}}
#header .bottom ul#main-nav li a {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background: white;
  color: #e33326;
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_header\.sass}line{font-family:\0000344}}
#header .bottom ul#main-nav li a:hover, #header .bottom ul#main-nav li a.active {
  background: #e38a62;
  color: white;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_footer\.sass}line{font-family:\000033}}
#footer {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: white;
  background: #e33326;
  text-align: center;
  height: 34px;
  line-height: 34px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_footer\.sass}line{font-family:\0000310}}
#footer span {
  font-size: 12px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_og\.sass}line{font-family:\000031}}
#post_og {
  background: white;
  border: 1px solid #cccccc;
  border-bottom: 0;
  overflow: hidden;
  position: relative;
  padding: 12px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_og\.sass}line{font-family:\000038}}
#post_og a.hide {
  border: 1px dashed #aaaaaa;
  color: #999999;
  cursor: pointer;
  display: block;
  font-family: Arial;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  position: absolute;
  right: 3px;
  text-align: center;
  text-decoration: none;
  top: 3px;
  width: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_og\.sass}line{font-family:\0000323}}
#post_og a.hide:hover {
  color: white;
  background: #f2421b;
  border-color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_og\.sass}line{font-family:\0000328}}
#post_og .image_holder {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  margin-right: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003138}}
* html #post_og .image_holder {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_og\.sass}line{font-family:\0000331}}
#post_og .image_holder .image_wrapper {
  background: #f2421b;
  border: 1px solid white;
  font-size: 0;
  margin: 0 12px;
  padding: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_og\.sass}line{font-family:\0000337}}
#post_og .image_holder .image_wrapper .image {
  background: white;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_og\.sass}line{font-family:\0000340}}
#post_og .image_holder .image_wrapper .waiting {
  background: white;
  height: 75px;
  overflow: hidden;
  padding-top: 15px;
  text-align: center;
  width: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_og\.sass}line{font-family:\0000348}}
#post_og .content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003138}}
* html #post_og .content {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_og\.sass}line{font-family:\0000350}}
#post_og .content .title {
  color: #f2421b;
  margin-right: 28px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_og\.sass}line{font-family:\0000354}}
#post_og .content .title input {
  border: 1px solid #cccccc;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_og\.sass}line{font-family:\0000357}}
#post_og .content .url {
  font-size: 0.9em;
  color: #444444;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_og\.sass}line{font-family:\0000360}}
#post_og .content .description {
  margin: 5px 10px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_og\.sass}line{font-family:\0000362}}
#post_og .content .description textarea {
  height: 60px;
  border: 1px solid #cccccc;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_publicar\.sass}line{font-family:\000031}}
#publicar {
  overflow: hidden;
  padding: 5px 10px;
  margin-bottom: 10px;
  background: #dddddd;
  border: 1px solid #cccccc;
  border-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_publicar\.sass}line{font-family:\000038}}
#publicar #new_post {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_publicar\.sass}line{font-family:\0000311}}
#publicar #new_post #publicar_body #post_body {
  border: 1px solid #cccccc;
  height: 20px;
  line-height: 20px;
  margin: 0;
  width: 425px;
  color: #999999;
  padding: 2px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_publicar\.sass}line{font-family:\0000320}}
#publicar #new_post #publicar_submit {
  display: inline;
  float: left;
  margin-right: 0;
  width: 150px;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003138}}
* html #publicar #new_post #publicar_submit {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_publicar\.sass}line{font-family:\0000323}}
#publicar #new_post #publicar_submit #post_submit {
  background: #f2421b;
  border: 1px solid #cccccc;
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 30px;
  outline: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_attachement\.sass}line{font-family:\000033}}
#posts_list li.post .attachement {
  background: #fcfcfc;
  overflow: hidden;
  padding: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_attachement\.sass}line{font-family:\000037}}
#posts_list li.post .attachement .image_holder {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  width: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003138}}
* html #posts_list li.post .attachement .image_holder {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_attachement\.sass}line{font-family:\0000310}}
#posts_list li.post .attachement .image_holder .image {
  overflow: hidden;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_attachement\.sass}line{font-family:\0000314}}
#posts_list li.post .attachement .content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
  width: 240px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003138}}
* html #posts_list li.post .attachement .content {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_attachement\.sass}line{font-family:\0000317}}
#posts_list li.post .attachement .content .title a {
  font-weight: bold;
  text-decoration: none;
  color: #e33326;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_comments\.sass}line{font-family:\000034}}
#posts_list li.post .content ul.comments {
  background: #e7e7e7;
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_comments\.sass}line{font-family:\000037}}
#posts_list li.post .content ul.comments li.comment {
  overflow: hidden;
  border-bottom: 1px solid white;
  padding: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_comments\.sass}line{font-family:\0000311}}
#posts_list li.post .content ul.comments li.comment .avatar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003138}}
* html #posts_list li.post .content ul.comments li.comment .avatar {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_comments\.sass}line{font-family:\0000313}}
#posts_list li.post .content ul.comments li.comment .content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 350px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003138}}
* html #posts_list li.post .content ul.comments li.comment .content {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_comments\.sass}line{font-family:\0000315}}
#posts_list li.post .content ul.comments li.comment .content .name {
  color: #e33326;
  font-weight: bold;
  margin-right: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_comments\.sass}line{font-family:\0000320}}
#posts_list li.post .content ul.comments li.comment .content .foot {
  color: #777777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_comments\.sass}line{font-family:\0000323}}
#posts_list li.post .content ul.comments li.more a {
  padding: 3px 0;
  text-align: center;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_comments\.sass}line{font-family:\0000327}}
#posts_list li.post .content ul.comments li.more a:hover {
  background: #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_foot\.sass}line{font-family:\000034}}
#posts_list li.post .content .foot {
  color: #777777;
  margin: 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_foot\.sass}line{font-family:\000037}}
#posts_list li.post .content .foot .comments_count, #posts_list li.post .content .foot .thumbs_up, #posts_list li.post .content .foot .thumbs_down {
  background: url('/images/icons.gif?1298231273') no-repeat;
  height: 16px;
  line-height: 16px;
  margin: 0 4px;
  overflow: hidden;
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_foot\.sass}line{font-family:\0000314}}
#posts_list li.post .content .foot .thumbs_up {
  background-position: 0 -16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_foot\.sass}line{font-family:\0000316}}
#posts_list li.post .content .foot .thumbs_down {
  background-position: 0 -32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_comment_form\.sass}line{font-family:\000034}}
#posts_list li.post .content .comment_form {
  background: #e7e7e7;
  margin: 10px 0;
  overflow: hidden;
  padding: 5px 0 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_comment_form\.sass}line{font-family:\000039}}
#posts_list li.post .content .comment_form .avatar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003138}}
* html #posts_list li.post .content .comment_form .avatar {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_comment_form\.sass}line{font-family:\0000311}}
#posts_list li.post .content .comment_form .comment {
  padding-left: 50px;
  width: 340px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_comment_form\.sass}line{font-family:\0000314}}
#posts_list li.post .content .comment_form .comment textarea {
  border: 1px solid #cccccc;
  height: 18px;
  width: 290px;
  margin: 0;
  color: #999999;
  padding: 2px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_comment_form\.sass}line{font-family:\0000322}}
#posts_list li.post .content .comment_form .submit input {
  background: #aaaaaa;
  border: 1px solid #cccccc;
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 25px;
  outline: 0;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_list\.sass}line{font-family:\000037}}
#posts_list li.post {
  border-top: 1px solid white;
  margin: 25px 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_list\.sass}line{font-family:\0000311}}
#posts_list li.post .avatar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003138}}
* html #posts_list li.post .avatar {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_list\.sass}line{font-family:\0000313}}
#posts_list li.post .content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 390px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003138}}
* html #posts_list li.post .content {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_list\.sass}line{font-family:\0000315}}
#posts_list li.post .content .name {
  color: #e33326;
  font-weight: bold;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_list\.sass}line{font-family:\0000319}}
#posts_list li.post .content .body {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_list\.sass}line{font-family:\0000322}}
#posts_list li.more a.more_posts {
  background: #e7e7e7;
  padding: 3px 0;
  text-align: center;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/wall\/_post_list\.sass}line{font-family:\0000327}}
#posts_list li.more a.more_posts:hover {
  background: #dddddd;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/partials\/_wall\.sass}line{font-family:\000037}}
#ic #content .left_column {
  padding-left: 80px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  padding-right: 400px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/\.rvm\/gems\/ruby-1\.9\.2-p136\/gems\/compass-0\.10\.6\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003138}}
* html #ic #content .left_column {
  overflow-x: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/screen\.sass}line{font-family:\000038}}
#ic {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin-top: 10px;
  margin-bottom: 50px;
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/diego\/proyectos\/lacomunidad\/app\/stylesheets\/screen\.sass}line{font-family:\0000314}}
#ic #content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 40px;
}
