%a.btn.btn-primary{:href=>users_path, :class=>('active' unless @role)}
  Ver todos
- @roles.each do |key, name| 
  %a.btn.btn-primary{:href=>users_path(:role=>key), :class=>('active' if @role == key.to_s)}
    Ver solo #{name}
%hr    
%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Imagen
      %th Nombre
      %th Email
      %th Permisos
  %tbody
    - for user in @users
      %tr
        %td
          =image_tag user.avatar, :width => "50", :alt => user.name
        %td #{user.name}
        %td #{user.email}
        %td 
          - @roles.each do |key, name| 
            %a.btn{:href=>toggle_role_user_path(user,:role=> key), :class=>('active' if user.role? key)}
              =name
