@import "blueprint/reset"
@import "partials/base"
@import "blueprint"
@import "partials/wall"

body
  +blueprint-typography(true)
  
#inner-container
  +container
  margin-top: 10px
  margin-bottom: 20px
  background: #eee
  #header
    +container
    ul#main-nav
      +prepend(2)
      background: #aaa
      margin: 0
      overflow: hidden
      list-style: none
      li
        a
          +column(4)
          color: #fff
          
  #content
    +container
    text-align: left
    padding-top: 10px
    padding-bottom: 10px

  #footer
    +container
    color: #777
