%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th Key
      %th Value
  %tbody
    - for setting in @settings
      %tr
        %td #{setting.var}
        %td #{setting.value}
