.attachement
  .image
    =link_to (image_tag attachement.image), attachement.url , :class => "image_holder", :target => "new"
  .text
    .title 
      =link_to attachement.title.html_safe, attachement.url , :target => "new"
    .description #{attachement.description.html_safe}
