%li.comment
  .avatar
    =image_tag comment.user.avatar.url(:icon)
  .content
    =link_to comment.user.name, '#', :class => 'name'
    %span.comment
      = comment.comment
    .foot
      Hace
      = distance_of_time_in_words_to_now(comment.created_at)
