.row
  .span8
    .alert.alert-info
      Debes #{link_to 'ingresar', new_user_session_path} para podes publicar, comentar y valorar.
    #wall_viewport
  .span4
    .well
      :markdown
        Comparte escrbiendo algo o pegando el enlace de **[youtube](//youtube.com)**, 
        **[vimeo](//vimeo.com)**, 
        **[soundcloud](//soundcloud.com)**, 
        **[picasa](//picasaweb.google.com)**, etc.
  
= app_js_load :posts=> @posts
