.row(id="candidate_#{candidate.id}")
  .span4.offset1
    =image_tag candidate.photo.url(:medium), :width=> 300
  .span6
    %h4
      = candidate.name
      =link_to 'Editar', edit_candidate_path(candidate), :class=> 'label label-success' if can? :manage, candidate
      =link_to 'Eliminar', candidate_path(candidate), :class=> 'label label-success', :method=>:delete if can? :manage, candidate
    %br
    .vote-status
      =render 'vote_status', :candidate => candidate
    %hr
    =simple_format candidate.bio
    %hr
    -#=mail_to candidate.user.email
    %br
    %br

