= app_js_load :candidates=> true

-if Setting.pre_votes_season
  %h3#votes_ends_at
    La votaci贸n comienza 
    %time{:style=>'color: #E33326', :datetime => Setting.votes_starts_at.to_time.iso8601 }


-if Setting.votes_season
  %h3#votes_ends_at
    La votaci贸n finaliza 
    %time{:style=>'color: #E33326', :datetime => Setting.votes_ends_at.to_time.iso8601 }

=link_to 'Resultados  de la Votaci贸n', votes_result_candidates_path, :class=> 'btn btn-primary  btn-large', :style=> 'color:#fff;font-size: 24px' if can? :votes_results , Candidate

%h3 
  Candidatos al Equipo de Coordinaci贸n Nacional
  %small
    =link_to 'Nueva Postulacion', new_candidate_path, :class=> 'label label-success' if can? :manage, Candidate
    =link_to 'Ver como pasarela', candidates_path, :class=> 'label label-success' if @list
    =link_to 'Ver como lista', candidates_path(:list=>true), :class=> 'label label-success' unless @list


  
  
%hr

-if @list

  - @candidates.each do |candidate|
    =render 'candidate', :candidate => candidate
    %hr
    
-else
  #candidates-carousel.carousel
    .carousel-inner
      - @candidates.each_with_index do |candidate, index|
        .item{:class => "#{'active' if index == 0}"}
          =render 'candidate', :candidate => candidate
    %a.carousel-control.left{"data-slide" => "prev", :href => "#candidates-carousel"} &lsaquo;
    %a.carousel-control.right{"data-slide" => "next", :href => "#candidates-carousel"} &rsaquo;  
