:markdown

  Estamos actualizando la página de **La Comunidad para el desarrollo humano.**
  
  Mientras tanto, te invitamos a ver este video.
    
  
  <iframe width="480" height="360" src="http://www.youtube.com/embed/mDvUT__SIRQ" frameborder="0" allowfullscreen></iframe>
