%link{:href => "http://fonts.googleapis.com/css?family=Anton", :rel => "stylesheet", :type => "text/css"}/
%style{:type => "text/css"}
  :sass 
    .elecciones
      .well
        font-weight: bold
        font-family: trebuchet ms
      .span5
        font-size: 45px
        line-height: 50px
      .red
        color: #E33326
      .grey
        color: #666
      .well .span2
        text-align: right
        font-size: 34px
        line-height: 25px
      .questions
        color: #777
        strong, p
          font-size: 16px
          line-height: 22px
        strong
          color: #666
      .info
        font-size: 24px
        line-height: 34px
        color: #E33326
        font-weight: bold
        font-family: trebuchet ms
    .public-wall
      font-family: 'Anton'
      font-size: 40px

.row
  .span8
    =image_tag 'conjunta-lc.jpg'
          
    %br
    %hr
    #wall_viewport
  .span4
    .well
      :markdown
        Comparte escrbiendo algo o pegando el enlace de **[youtube](//youtube.com)**, 
        **[vimeo](//vimeo.com)**, 
        **[soundcloud](//soundcloud.com)**, 
        **[picasa](//picasaweb.google.com)**, etc.
    %ul.posts_list
      - 4.times do
        %li.post
          .avatar
            %img{ src:"http://placehold.it/40x40", width:40, height:40}
          .content
            %p.body 
              %a.name noticia:
              loren ipsum dolor sit amet

= app_js_load :posts=> @posts            
