:markdown
  ### Inicio ###

    * Botones *grandes* hacia las secciones mas importantes


  ### Otros ###

    * Ingresar/Registro
    * Sector Miembros plenos (votaciones y consulta)

%ul.schema-color
  %li.linkColor
  %li.baseColor
  %li.complement
  %li.split1
  %li.split2
  %li.triad1
  %li.triad2
  %li.tetra1
  %li.tetra2
  %li.analog1
  %li.analog2
