:markdownwiki
  ### Notas de Prensa###

  * [[A favor de la igualdad en Argentina]]
  * [[A 65 años de Hiroshima y Nagasaki, jubilemos a las bombas]]
  * [[La Comunidad para el desarrollo humano realiza su primera reunión nacional]]
  * [[Gracias Silo, guía espiritual de estos tiempos]]
  * [[La Comunidad para el desarrollo humano exige la total aplicación de la Ley de Medios]]
  * [[La Comunidad para el desarrollo humano exige el restablecimiento del orden democrático en Ecuador]]
  * [[Por la No-violencia y la desmilitarización en el Atlántico Sur]]
  * [[La Comunidad repudia el asesinato del manifestante Mariano Ferreyra]]
  * [[La Comunidad apoya a Cristina Fernández ante la muerte del ex presidente Kirchner]]
  * [[La Comunidad participara en el 2º Simposio internacional que organiza el Centro Mundial de Estudios Humanistas]]
  * [[La violencia nos encadena, la No-violencia nos libera]]
  * [[El ser humano tiene derecho a vivir en un mundo No-violento y a preguntarse por el Sentido de la Vida.]]
  * [[Apoyo total al pueblo egipcio en su gran rebelión]]
