:markdown

  ## Como Participar ##

  La Comunidad es una organización pública y abierta basada en criterios de amistad,
  ayuda y experiencia. Los miembros difunden su mensaje de acuerdo a los medios con
  que cuentan y explicitan con claridad sus fuentes de inspiración, fines y procedimientos.
  La participación esta abierta a toda persona, sin discriminación alguna.

  ### Hay dos formas de participar: ###

  #### Miembro Pleno

  Es parte de la orgánica de La Comunidad y participa en las reuniones,
  aporta en la campaña económica mundial, impulsa su crecimiento y se capacita en base
  a los trabajos personales que promueve La Comunidad.
  Impulsa el desarrollo y la formación de nuevos equipos de base sin limitación
  geográfica.

  #### Miembro adherente

  Recibe información, participa de sus actividades y colabora con su
  desarrollo, sin estar incluido en la orgánica de La Comunidad.

  ### Súmate a un equipo de La Comunidad:

  Ver mapa con los equipos: r3 – red h – rebelión H- faros- Córdoba- la pampa – salta – Belgrano

  ### Arma un equipo de LC

  #### Podes armar tu propio equipo de LC

  Cuando un grupo de personas se reúne periódicamente en torno a los materiales de La
  Comunidad con el objetivo de organizar actividades de formación y practicas de la no-
  violencia, de vacío y denuncia, acciones ejemplares no-violentas y también se ocupan
  de la superación de su propia violencia interna, estamos en presencia de un Grupo
  Promotor de La Comunidad. Las relaciones y las conductas en dicho grupo se basan en
  la Regla de Oro: “Trata a los demás como quieres ser tratado”.

  Existen grupos de La Comunidad que desarrollan sus actividades de modo virtual
  aprovechando el uso de las nuevas tecnologías.

  ### Funciones

  Desde su formación, los equipos o grupos de base de La Comunidad, impulsan la puesta
  en marcha de tres mecanismos o funciones básicas para su desarrollo:

  ### Crecimiento

  Orienta su acción hacia otras personas, hacia otras redes y organizaciones
  con el objetivo de hacer conocer e implementar en la practica sus planteos, propuestas y
  herramientas.

  #### Comunicación

  Mantiene una fluida comunicación e intercambio con otros equipos de
  base y con otras organizaciones afines a sus objetivos.

  #### Formación

  Atiende a la progresiva formación de sus miembros brindando las  herramientas para la superación de la violencia externa e interna.
  Estos estudios y prácticas se encuentran desarrollados en sus materiales principales.

  Cuando estos grupos promotores alcanzan un mínimo desarrollo (aproximadamente 10
  miembros plenos) , logran permanencia en las reuniones, y eligen por votación directa a
  una persona que coordine el equipo y sea enlace con el Equipo de Coordinación del país
  o mundial, se constituye en “Equipo de Base de LC”.

  ### Comunícate con nosotros

  Ver mail…lacomunidad@zaraza  
