.row
  .span6
    .well
      %h3 Arma un equipo de La Comunidad
      :markdown
        Cuando un grupo de personas se reúne periódicamente en torno a los materiales de La
        Comunidad con el objetivo de organizar actividades de formación y practicas de la no-
        violencia, de vacío y denuncia, acciones ejemplares no-violentas y también se ocupan
        de la superación de su propia violencia interna, estamos en presencia de un Grupo
        Promotor de La Comunidad. 
        
        Las relaciones y las conductas en dicho grupo se basan en
        la Regla de Oro: “Trata a los demás como quieres ser tratado”.

        Existen grupos de La Comunidad que desarrollan sus actividades de modo virtual
        aprovechando el uso de las nuevas tecnologías.

    %h3 Hay dos formas de participar
    %br
    .row
      .span3
        .well
          :markdown
            **Miembro:** 
            
            * Participa de reuniones periódicas
            * Impulsa su crecimiento
            * Aporta a la campaña económica anual
            * Se capacita en base a los materiales de formación
      .span3
        .well
          :markdown
            **Adherente:** 
            
            * Recibe información
            * Participa de sus actividades
            * Colabora con su desarrollo
      
  .span6
    .well(style="background:#ffc")
      %h3 
        Súmate a un equipo de La Comunidad
    <iframe width="460" height="540" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msid=216354344242156635519.0004b9f9316a25c815eba&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=-31.752103,-61.898861&amp;spn=13.932607,7.026786&amp;output=embed"></iframe>

%br
%i
  Cuando estos grupos promotores alcanzan un mínimo desarrollo (aproximadamente 10
  miembros plenos) , logran permanencia en las reuniones, y eligen por votación directa a
  una persona que coordine el equipo y sea enlace con el Equipo de Coordinación del país
  o mundial, se constituye en “Equipo de Base de LC”.
%br

%hr
.row  
  .span12
    %h3 Funciones
    Desde su formación, los equipos o grupos de base de La Comunidad, impulsan la puesta
    en marcha de tres mecanismos o funciones básicas para su desarrollo:
%br
.row
  .span4
    .well
      %h4 Crecimiento
      %br
      Orienta su acción hacia otras personas, hacia otras redes y organizaciones
      con el objetivo de hacer conocer e implementar en la practica sus planteos, propuestas y
      herramientas.
  .span4
    .well
      %h4 Comunicación
      %br
      Mantiene una fluida comunicación e intercambio con otros equipos de
      base y con otras organizaciones afines a sus objetivos.
  .span4
    .well
      %h4 Formación
      %br
      Atiende a la progresiva formación de sus miembros brindando las  herramientas para la superación de la violencia externa e interna. Estos estudios y prácticas se encuentran desarrollados en sus materiales principales.

%hr
%img{:src=>'//lh6.googleusercontent.com/-WVghrPHrp30/Tr7qlPh3vRI/AAAAAAAAACk/qOqzzrRNyA4/059.jpg',:style=>"width:100%"}
:markdown
  _Encuentro Conjunto 2010, Parque La Reja, Buenos Aires_

