.row
  .span12
    .well
      La Comunidad es una organización pública y abierta basada en criterios de amistad, ayuda y experiencia.
      Los miembros difunden su mensaje y explicitan con claridad sus fuentes de inspiración, fines y procedimientos.

.row
  .span6
    .well
      :markdownwiki
        ## Antecedentes ##

        La Comunidad (para el desarrollo humano) fue creada a mediados de 1980 como el organismo social y cultural del [[Movimiento Humanista]], fundado por [[Silo]] y basado en la corriente de pensamiento conocida como Nuevo Humanismo o [[Humanismo Universalista]].

    .well
      :markdownwiki

        Otros organismos surgidos del mismo Movimiento Humanista son la Convergencia de las Culturas, el Partido Humanista, Mundo sin Guerras y sin Violencia, y el Centro Mundial de Estudios Humanistas.
  .span6
    :markdownwiki
      ## Objetivos

      Los objetivos de La Comunidad (para el desarrollo humano) son el estudio, el desarrollo, la difusión y la instalación de una nueva cultura basada en las ideas fundamentales del [[Humanismo Universalista]].

      La Comunidad impulsa proyectos para la aplicación concreta de esta nueva cultura en los diferentes ámbitos de la vida personal y social.

      Se fundamenta en una nueva concepción del ser humano de la cual se derivan una [[Puntos Fundamentales del Movimiento Humanista | escala de valores ]], una [[No Violencia Activa | metodología de acción]] y un proyecto personal y social.

      Se trata en definitiva de un proyecto personal y social que intenta superar la crisis actual de violencia, desorientación y falta de sentido que sufre el ser humano.  
      Este proyecto se sintetiza en el ideal de [[Humanizar la Tierra]].
.row
  .span6
    :markdownwiki

      ## Doctrina

      El equilibrio y desarrollo individual y social pueden lograrse si las personas adquieren un coherente sentido de la vida. Por el contrario, toda existencia sin dirección o falseada en su sentido, genera sufrimiento personal y colectivo.  
      El principio más importante que representa a esta cultura se enuncia así: "Trata a los demás como quieres que te traten".  
      Existen también otros principios de acción válida que sirven de orientación en la conducta

  .span6
    .well
      :markdownwiki

        * El ser humano tiende a lograr su felicidad.
        * El dolor y el sufrimiento se oponen a la felicidad.
        * El dolor es físico y su retroceso depende del avance de la sociedad y de la ciencia.
        * El sufrimiento es mental y su retroceso depende de la reconciliación consigo mismo.
        * Se sufre por vivir situaciones contradictorias, por recordarlas y por imaginarlas. Esas son las tres vías del sufrimiento.
        * Únicamente, un verdadero sentido de la vida proporciona unidad, logra reconciliación, esto es: rompe la contradicción en las tres vías.  
  
.row
  .span12
    :markdownwiki

      * Que es la No Violencia?
        *  [[De la situación de violencia deriva todo conflicto individual y social]]
        *  [[La contradicción como base de la violencia]]
        *  [[La cultura de la no-violencia]]
      * Relacion
        * con Silo
        * con Parques
        * con Organismos
        * con El Mensaje  
