.row
  .span6
    .well
      :markdownwiki
        **La Comunidad** es una organización pública y abierta basada en criterios de amistad, ayuda y experiencia.
        
        Los miembros difunden su mensaje y explicitan con claridad sus fuentes de inspiración, fines y procedimientos.
    .well
      :markdownwiki
        ### Antecedentes

        La Comunidad (para el desarrollo humano) fue creada a mediados de 1980 como el organismo social y cultural del [[Movimiento Humanista]], fundado por [[Silo]] y basado en la corriente de pensamiento conocida como Nuevo Humanismo o [[Humanismo Universalista]].

        Otros organismos surgidos del Movimiento Humanista son:
        
        * Convergencia de las Culturas
        * Partido Humanista
        * Mundo sin Guerras y sin Violencia
        * Centro Mundial de Estudios Humanistas
  .span6
    <iframe width="460" height="400" src="http://www.youtube.com/embed/mDvUT__SIRQ" frameborder="0" allowfullscreen></iframe>  



%hr
.row
  .span6
    :markdownwiki
      ## Objetivos

      Los objetivos de La Comunidad (para el desarrollo humano) son el estudio, el desarrollo, la difusión y la instalación de una nueva cultura basada en las ideas fundamentales del [[Humanismo Universalista]].

      La Comunidad impulsa proyectos para la aplicación concreta de esta nueva cultura en los diferentes ámbitos de la vida personal y social.

      Se fundamenta en una nueva concepción del ser humano de la cual se derivan una [[Puntos Fundamentales del Movimiento Humanista | escala de valores ]], una [[No Violencia Activa | metodología de acción]] y un proyecto personal y social.

      Se trata en definitiva de un proyecto personal y social que intenta superar la crisis actual de violencia, desorientación y falta de sentido que sufre el ser humano.  
      Este proyecto se sintetiza en el ideal de [[Humanizar la Tierra]].

  .span6
    :markdownwiki

      ## Doctrina

      El equilibrio y desarrollo individual y social pueden lograrse si las personas adquieren un coherente sentido de la vida. 
      
      Por el contrario, toda existencia sin dirección o falseada en su sentido, genera sufrimiento personal y colectivo.  
      
    %br
    .well(style="background:#ffc")
      :markdownwiki
        La Regla de Oro: 
        
        **"Trata a los demás como quieres que te traten"**

    %p Existen también otros principios de acción válida que sirven de orientación en la conducta

