#post_og(style="display:none;")
  .image_holder
    .image_wrapper
      .image
      .waiting
        %img(src="/assets/loading.gif")
  .content
    .title ...
    .url
    .description ...
  %a.hide(href ="#") &times;

#publicar
  #publicar_body
    %textarea.new_post_input{ spellcheck:"false",placeholder:'Qué estás pensando?'}
  #publicar_submit(style='display:none;')
    %input.new_post_submit{ type:"submit", value:"Compartir"}

