.avatar
  %img
.content
  %a.name
  %p.body <%= body %>
  .attachement
  .foot
    %span.when Hace 2 horas
    %span.comments_count 5
    %span.thumbs_up 5
    %span.thumbs_down 5
  %ul.comments
  .comment_form
