%li.post
  .avatar
    %img
  .content
    %a.name
    %p.body
    .attachement
    .foot
      %span.when <%= when %>
      %span.comments_count <%= comments_count %>
      %span.thumbs_up <%= votes_for %>
      %span.thumbs_down <%= votes_against %>
    %ul.comments
    .comment_form
