%ul.thumbnails
  %li.span6
    .thumbnail
      %h3 <%= title %>
      %hr
      <iframe width="420" height="315" src="https://www.youtube.com/v/<%= id %>&fs=1&source=uds" frameborder="0" allowfullscreen></iframe>
      %hr
      %p
        <%= text %>
