#header
  background: $red
  padding-top: 10px
  border-bottom: 3px solid #444
  #user-nav
    text-align: right
    a, span
      color: #fff
      font-size: 12px
      font-weight: bold
      padding-right: 10px
  #main-nav
    margin-top: 15px
    list-style: none
    li
      text-align: center
      height: 24px
      line-height: 24px
      float: left
      margin-right: 10px
      &.last
        margin-right: 0
      a
        background: #fff
        color: $red
        font-size: 13px
        font-weight: bold
        padding: 0 10px
        display: block
        &:hover, &.active
          background: #444
          color: #fff
          text-decoration: none
