#post_og.post_attach(style="display:none")
  .image
  .content
    .title ...
    .url
    .description ...
  %a.close.destroy_attach(href ="#") &times;

#publicar
  %textarea.new_post_input{ spellcheck:"false",placeholder:'Escribe algo o pega un enlace...'}

