.avatar
  %img{ src:'<%= user.avatar %>', width:30, height:30}
.content
  %a.name <%= user.name %>
  %span.comment
    <%=app.utils.format(comment.comment)%>
  .foot
    %time.when{ datetime:'<%= comment.created_at %>'}
<%if (app.user_id===user.id) {%>  
%a.close.destroy_comment &times;
<%}%>    
