.new_comment
  background: #E7E7E7
  overflow: hidden
  padding: 4px 6px
  .avatar
    display: none
    float: left
    width: 30px
    img
      display: block
  .comment
    padding-left: 0
    .new_comment_input
      border: 1px solid #ccc
      height: 18px
      width: 514px
      margin: 0
      color: #999
      padding: 2px 10px
  &.typing
    .avatar
      display: block
    .comment
      padding-left: 38px
      .new_comment_input
        width: 478px

