@import "post_attach"
@import "post_comments"
@import "post_stats"

.posts_list
  li.post
    border-top: 1px solid #fff
    margin: 25px 0
    overflow: hidden
    > .avatar
      width: 50px
      float: left
      margin-right: 20px
      min-height: 50px
    > .content
      padding-left: 70px
      .name
        color: $red
        font-weight: bold
        text-decoration: none
      .body
        margin: 0 0 10px

li.post, li.comment
  position: relative
  > .close
    position: absolute
    right: 7px
    top: 7px
    visibility: hidden
  &:hover > .close
    visibility: visible



        
