@import "partials/base"
@import "partials/reset"
@import "partials/messages"
@import "partials/header"
@import "partials/footer"
@import "partials/wall"

#ic
  +container
  margin-top: 10px
  margin-bottom: 50px
  background: #fff
          
  #content
    +container
    text-align: left
    padding-top: 20px
    padding-bottom: 40px
