@import "partials/base"
@import "partials/reset"
@import "partials/messages"
@import "partials/header"
@import "partials/footer"
@import "partials/wall"
@import "partials/pages"

#ic
  margin-top: 10px
  margin-bottom: 50px
  #header, #content, #footer
    padding-left: 20px
    padding-right: 20px
  #content
    background: #fff
    text-align: left
    padding-top: 20px
    padding-bottom: 40px


a.thumbnail.selected
  border-color: #0069D6
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25)

.thumbnails.services
  text-align: center
  padding: 20px 0
  .thumbnail
    background: #E7E7E7
    border-radius: 10px
    color: #333
    font-size: 14px
    font-weight: bold
    
body.users
  .service h3 img
    vertical-align: bottom    

body.static    
  #mini_videos
    .thumbnail
      .caption
        color: #333
        font-weight: bold
        text-align: center
        display: block
      &:hover
        text-decoration: none
