#lightbox{:style => "display: none; "}
  .container
    .lb-container.row
      .lb-side.span1
        %a.lb-prev(href="#")
      .lb-center.span10
        %a.lb-close(href="#")
        %img.lb-image
        .lb-loader
      .lb-side.span1
        %a.lb-next(href="#")

